:root {
  --main-black-color: #313131;
  --main-grey-color: #f3f3f3;
  --alt-grey-color: #f8f8f8;
  --main-white-color: #fff;
  --main-blue-color: #15487c;
}

/* BODY IS display: flex; DIRECT CHILDREN NEED flex: 1; */
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: var(--main-grey-color);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header DIRECT CHILD OF body */
header {
  background-color: var(--main-white-color);
  border-bottom: 1px solid var(--alt-grey-color);
  flex: 1;
}

section {
  justify-self: center;
  padding-top: 4rem;
}

section p {
  margin-top: 0;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.column-reverse {
  flex-direction: column-reverse;
}

.section-square {
  flex: 1;
}

.section-square h3 {
  margin-top: 0;
}

.section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-logo-title-container {
  padding: 8px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header-logo-img {
  max-width: 100px;
  border-right: 2px solid var(--main-white-color);
  padding-right: 16px;
  margin-right: 16px;
}

/* main DIRECT CHILD OF body */
main {
  padding: 8px;
}

main h3,
footer h3 {
  font-size: 32px;
}

main h3 {
  color: var(--main-blue-color);
}

main hr {
  border: 1px solid var(--main-blue-color);
}

.hero-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("./assets/hero-img.jpg");
  background-blend-mode: color;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-container {
  color: var(--main-white-color);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-container h2 {
  font-size: 48px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 8px;
  align-items: center;
  width: 100vw;
}

.card {
  padding: 0px 8px;
  max-width: 100%;
}

.info-rows {
  align-self: start;
}

.main-title-text {
  font-size: 82px;
  color: #313131;
}

.card h3 {
  color: var(--main-black-color);
  margin-top: 0px;
}

.card span {
  font-size: 12px;
  color: var(--main-blue-color);
}

.team-openings-container {
  display: grid;
  grid-auto-flow: row;
  /* justify-content: flex-start; */
}

.team-openings-links {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: space-between;
}

.team-openings-link {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-blue-color);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px 8px 2px 0px;
}

.contact-us-container {
  display: grid;
  grid-auto-flow: row;
}

/* footer DIRECT CHILD OF body */
footer {
  margin-top: 32px;
  padding: 2rem 8px;
  display: grid;
  background-color: var(--main-blue-color);
  color: var(--main-grey-color);
}

footer h3 {
  margin: 0;
}

footer a {
  color: var(--alt-grey-color);
}

.footer-img-credit {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-gap: 2px;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .header-logo-title-container {
    padding: 0px 15%;
  }

  .hero-wrapper {
    height: 400px;
  }

  main {
    padding: 0px;
  }

  section {
    padding: 4rem 15%;
  }

  .section-offset {
    background-color: var(--alt-grey-color);
  }

  .column-reverse {
    flex-direction: column;
  }

  footer {
    padding: 4rem 15%;
  }

  .contact-us-container {
    grid-auto-flow: column;
  }

  .section-flex {
    flex-direction: row;
  }
}
