body {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f8f8;
}

header {
    text-align: center;
}

header h1 {
    color: #101820;
}

header h3 {
    color:  #FFB612;
}